<h3>
  User
  <small class="text-muted">interests</small>
</h3>

<form class="form-inline">
  <select [(ngModel)]="selectedOption" name="selectedOption">
    <option disabled>Category Name</option>
    <option *ngFor="let int of bookCategories">{{int}}</option>
  </select>
  <button (click)="submitInterest()" class="btn btn-primary">Submit</button>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Interests</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info" *ngFor="let interest of userInterests">{{interest.topic}}
      <td></td>
    </tr>
  </tbody>
</table>
