<p>title-search works!</p>

<form (ngSubmit)="searchForTitle()" [formGroup]="titleSearch">

  <div class="form-group">
    <input type="text" class="form-control" [formGroup]='titleSearch' formControlName="bookTitle"
      placeholder="Author Name" autocomplete="off">
  </div>
  <button type="submit" class="btn btn-primary">Search Author</button>
</form>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Book Title</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Year Published</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let titRes of titResult">
      <th scope="row">{{titRes.title}}</th>
      <td>{{titRes.authors}}</td>
      <td>{{titRes.year}}</td>
      <td>{{titRes.category}}</td>
    </tr>
  </tbody>

</table>
