<p>search-functions works!</p>

<form (ngSubmit)="searchForAuthor()" [formGroup]="authorSearch">

  <div class="form-group">
    <input type="text" class="form-control" [formGroup]='authorSearch'
     formControlName="bookAuthor"
      placeholder="Author Name" autocomplete="off">
  </div>
  <button type="submit" class="btn btn-primary">Search Author</button>
</form>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Book Title</th>
      <th scope="col">Author(s)</th>
      <th scope="col">Year Published</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-primary" *ngFor="let authRes of authResult">
      <th scope="row">{{authRes.title}}</th>
      <td>{{authRes.authors}}</td>
      <td>{{authRes.year}}</td>
      <td>{{authRes.category}}</td>
    </tr>
  </tbody>

</table>
